# 4.0 Pre-processing and Training Data  - Customer Churn

## 4.1 Introduction
### Customers Churn
The Telco company specializes in providing telephone and internet service to California. Thanks to its promotions, the company reached the number of 7,073 customers during the third quarter. However, it encounters serious difficulties in retaining its customers. In fact, the disengagement rate during this quarter was around 26.54%. This difficulty in retaining customers is reflected in the structure of the company's customer base: • 25% of customers have less than 9 months of relationship • The median duration of the customer relationship with the company is 29 months, far from the 72 months relationship of the most loyal customers • 75% of customers have a relationship duration of less than 55 months. Telco Management would like to commit to a loyalty policy by reducing the disengagement rate to less than 10% by: • Identification, upon entering a relationship, of the customers most likely to leave the company after the promotion period. • Concrete actions are likely to build loyalty among current customers. The Data Science team was entrusted with the mission of identifying the factors on which to act to retain existing customers and to develop a model to identify potential customers towards whom future promotions should be directed. This work involves the participation of: • General management for orientations • Director of the Customer Service team • Director of the Marketing team • Director of Technology It was produced using information available in the customer database which contains 33 variables for each customer. The approach adopted is: • To retain the 'Churn Label' column as an explanatory or independent variable • To determine to what extent each of the other variables allows predicting the explanatory variable • To retain the most relevant variables to develop a model based on the regression mode with the smallest absolute error

This document is the continuation of the daEDAing work. It contai

 - Creation of  dummy or indicator features for categorical variables - Split of the data into testing and training datasets
 - 
Standardiation of e the magnitude of numeric features using a scalertsns:

### 4.2 Importation of common Libraries

In [1]:
# Code task 1#
# Importation of common libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.decomposition import PCA
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
import matplotlib.ticker as ticker

### 4.3 Read the Dataset

In [2]:
# Code task 2#
# Read the dataset using read_csv
df_churn = pd.read_csv('df_cust_churn_cleaned.csv')

In [3]:
# Set up to display the entire columns of the datasets
pd.set_option('display.max_columns', None)

In [4]:
# Code task 3#
# Visualize the 5 first registers in the dataset
df_churn.head()

,CustomerID,Count,Zip Code,Lat Long,Latitude,Longitude,Gender,Senior Citizen,Partner,Dependents,Tenure Months,Phone Service,Multiple Lines,Internet Service,Online Security,Online Backup,Device Protection,Tech Support,Streaming TV,Streaming Movies,Contract,Paperless Billing,Payment Method,Monthly Charges,Total Charges,Churn Label,Churn Value,Churn Score,CLTV,Churn Reason,City,Name_concat_type,Entity Type,County
0,3668-QPYBK,1,90003,"33.964131, -118.272783",33.964131,-118.272783,Male,False,False,False,2,True,False,DSL,True,True,False,False,False,False,Month-to-month,True,Mailed check,53.85,108.15,True,1,86,3239,Competitor made better offer,Los Angeles,Los Angeles CCD,CCD,Los Angeles County
1,3668-QPYBK,1,90003,"33.964131, -118.272783",33.964131,-118.272783,Male,False,False,False,2,True,False,DSL,True,True,False,False,False,False,Month-to-month,True,Mailed check,53.85,151.65,True,1,86,3239,Competitor made better offer,Los Angeles,Los Angeles CDP,CDP,Los Angeles County
2,3668-QPYBK,1,90003,"33.964131, -118.272783",33.964131,-118.272783,Male,False,False,False,2,True,False,DSL,True,True,False,False,False,False,Month-to-month,True,Mailed check,53.85,820.50,True,1,86,3239,Competitor made better offer,Los Angeles,Los Angeles,CIT,Los Angeles County
3,9237-HQITU,1,90005,"34.059281, -118.30742",34.059281,-118.307420,Female,False,False,True,2,True,False,Fiber optic,False,False,False,False,False,False,Month-to-month,True,Electronic check,70.70,3046.05,True,1,67,2701,Moved,Los Angeles,Los Angeles CCD,CCD,Los Angeles County
4,9237-HQITU,1,90005,"34.059281, -118.30742",34.059281,-118.307420,Female,False,False,True,2,True,False,Fiber optic,False,False,False,False,False,False,Month-to-month,True,Electronic check,70.70,5036.30,True,1,67,2701,Moved,Los Angeles,Los Angeles CDP,CDP,Los Angeles County

In [5]:
#Code task 3#
# Check the columns and their contains using the info() method
df_churn.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11779 entries, 0 to 11778
Data columns (total 34 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   CustomerID         11779 non-null  object
 1   Count              11779 non-null  int64
 2   Zip Code           11779 non-null  int64
 3   Lat Long           11779 non-null  object
 4   Latitude           11779 non-null  float64
 5   Longitude          11779 non-null  float64
 6   Gender             11779 non-null  object
 7   Senior Citizen     11779 non-null  bool
 8   Partner            11779 non-null  bool
 9   Dependents         11779 non-null  bool
 10  Tenure Months      11779 non-null  int64
 11  Phone Service      11779 non-null  bool
 12  Multiple Lines     11779 non-null  bool
 13  Internet Service   11779 non-null  object
 14  Online Security    11779 non-null  bool
 15  Online Backup      11779 non-null  bool
 16  Device Protection  11779 non-null  bool
 17  Tech Support       11779 non-null  bool
 18  Streaming TV       11779 non-null  bool
 19  Streaming Movies   11779 non-null  bool
 20  Contract           11779 non-null  object
 21  Paperless Billing  11779 non-null  bool
 22  Payment Method     11779 non-null  object
 23  Monthly Charges    11779 non-null  float64
 24  Total Charges      7032 non-null   float64
 25  Churn Label        11779 non-null  bool
 26  Churn Value        11779 non-null  int64
 27  Churn Score        11779 non-null  int64
 28  CLTV               11779 non-null  int64
 29  Churn Reason       3159 non-null   object
 30  City               11779 non-null  object
 31  Name_concat_type   11779 non-null  object
 32  Entity Type        11779 non-null  object
 33  County             11779 non-null  object
dtypes: bool(13), float64(4), int64(6), object(11)
memory usage: 2.0+ MB

### 4.4 Additinal cleaning

In [6]:
# Code task 1#
# Define the columns to use to build the model
# Remove some columns
df_churn.drop(['Churn Reason','Total Charges','Lat Long','Latitude','Longitude','City','Zip Code','Name_concat_type','Entity Type','Churn Value'], axis =1, inplace=True)

# Code task 2#
# Visualize the dataset after removing some columns
df_churn.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11779 entries, 0 to 11778
Data columns (total 24 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   CustomerID         11779 non-null  object
 1   Count              11779 non-null  int64
 2   Gender             11779 non-null  object
 3   Senior Citizen     11779 non-null  bool
 4   Partner            11779 non-null  bool
 5   Dependents         11779 non-null  bool
 6   Tenure Months      11779 non-null  int64
 7   Phone Service      11779 non-null  bool
 8   Multiple Lines     11779 non-null  bool
 9   Internet Service   11779 non-null  object
 10  Online Security    11779 non-null  bool
 11  Online Backup      11779 non-null  bool
 12  Device Protection  11779 non-null  bool
 13  Tech Support       11779 non-null  bool
 14  Streaming TV       11779 non-null  bool
 15  Streaming Movies   11779 non-null  bool
 16  Contract           11779 non-null  object
 17  Paperless Billing  11779 non-null  bool
 18  Payment Method     11779 non-null  object
 19  Monthly Charges    11779 non-null  float64
 20  Churn Label        11779 non-null  bool
 21  Churn Score        11779 non-null  int64
 22  CLTV               11779 non-null  int64
 23  County             11779 non-null  object
dtypes: bool(13), float64(1), int64(4), object(6)
memory usage: 1.1+ MB

In [7]:
# Code task 3#
# Store the CustomerID as index to be able to rebuilt the DataFrame 
dt_churn_index= df_churn['CustomerID']

## 4.5 Categorical variables

In [8]:
# Code Task 1#
# Assess the number of rows for each variable
# Select columns with dtypes=bool
df_churn_categorical = df_churn.select_dtypes(include=[
    'bool'])
df_churn_categorical.columns

Index(['Senior Citizen', 'Partner', 'Dependents', 'Phone Service',
       'Multiple Lines', 'Online Security', 'Online Backup',
       'Device Protection', 'Tech Support', 'Streaming TV', 'Streaming Movies',
       'Paperless Billing', 'Churn Label'],
      dtype='object')

In [9]:
# Code Task 2#
# Loop over the boolean columns
for column in df_churn_categorical.columns:
    print(f'{df_churn_categorical[column].value_counts()}')

Senior Citizen
False    9864
True     1915
Name: count, dtype: int64
Partner
False    6149
True     5630
Name: count, dtype: int64
Dependents
False    9073
True     2706
Name: count, dtype: int64
Phone Service
True     10616
False     1163
Name: count, dtype: int64
Multiple Lines
False    6824
True     4955
Name: count, dtype: int64
Online Security
False    8384
True     3395
Name: count, dtype: int64
Online Backup
False    7691
True     4088
Name: count, dtype: int64
Device Protection
False    7727
True     4052
Name: count, dtype: int64
Tech Support
False    8382
True     3397
Name: count, dtype: int64
Streaming TV
False    7250
True     4529
Name: count, dtype: int64
Streaming Movies
False    7192
True     4587
Name: count, dtype: int64
Paperless Billing
True     6938
False    4841
Name: count, dtype: int64
Churn Label
False    8620
True     3159
Name: count, dtype: int64

#### 4.5.2 Modify the Column 'County'

In [10]:
# Code Task 1#
# Create a new DataFrame with the number of customer by County
count_counties = df_churn.groupby('County')['County'].value_counts() # Count the number of customer by County
count_counties2 = count_counties. to_frame() # Convert the report to a DataFrame
count_counties2.columns = ['Count'] # Define the name of the column
count_counties2.index_name = 'County' # Attribute a name to the index
count_counties2.tail()

                  Count
County
Tuolumne County      20
Ventura County       62
Wuk Village CDP       4
Yolo County          24
Yuba County           8

In [11]:
# Code task 2#
# Visualize the index of the County
count_counties2.index

Index([' Alameda County', ' Alpine County', ' Alpine County and Amador County',
       ' Amador County', ' Butte County', ' Calaveras County',
       ' Colusa County', ' Contra Costa County', ' Del Norte County',
       ' El Dorado County',
       ...
       'Stanislaus County', 'Sutter County', 'Tehama County', 'Trinity County',
       'Tulare County', 'Tuolumne County', 'Ventura County',
       'Wuk Village CDP ', 'Yolo County', 'Yuba County'],
      dtype='object', name='County', length=121)

In [12]:
# Code task 3#
# Divide the Counties into two categories: Those whose number of customers is in the interquartile range and the outliers.

In [13]:
count_counties2['Count'].quantile(0.75)

100.0

In [14]:
count_counties2['Count'].quantile(0.25)

24.0

In [15]:
# Code task 4#
# Create mask for 'Interquantile' counties
mask_interquantile = df_churn['County'].isin(
    count_counties2[(count_counties2['Count'] < count_counties2['Count'].quantile(0.75)) 
                    & (count_counties2['Count'] > count_counties2['Count'].quantile(0.25))].index
)
df_churn.loc[mask_interquantile, 'County'] = 'County_Interquantile'

# Code task 5#
# Create mask for 'Outlier' counties
mask_outlier = df_churn['County'].isin(
    count_counties2[(count_counties2['Count'] >= count_counties2['Count'].quantile(0.75)) 
                    | (count_counties2['Count'] <= count_counties2['Count'].quantile(0.25))].index
)
df_churn.loc[mask_outlier, 'County'] = 'Outlier'

In [16]:
# Code task 6#
# Visualize the modified column
df_churn['County']

0        Outlier
1        Outlier
2        Outlier
3        Outlier
4        Outlier
          ...
11774    Outlier
11775    Outlier
11776    Outlier
11777    Outlier
11778    Outlier
Name: County, Length: 11779, dtype: object

In [17]:
df_churn['County'].value_counts()

County
Outlier                 8798
County_Interquantile    2981
Name: count, dtype: int64

#### 4.5.3 Convert the boolean columns to one hot encoded Data Frame

In [18]:
# Code task 1#
# Select columns to one-hot encode and define prefixes
columns_to_encoded = ['Gender', 'Internet Service','Contract','Payment Method', 'County']

prefix = {'Gender': 'G_', 'Internet Service':'IS_', 'Contract':'CO_', 'Payment Method':'PM_','County':'Coun_'}

# Code task 2#
# One-Hot Encode 
df_churn_encoded = pd.get_dummies(df_churn, columns = columns_to_encoded, prefix = prefix)

# Code task 3#
# Display the first 5 rows of the encoded Data Frame
df_churn_encoded.head()

,CustomerID,Count,Senior Citizen,Partner,Dependents,Tenure Months,Phone Service,Multiple Lines,Online Security,Online Backup,Device Protection,Tech Support,Streaming TV,Streaming Movies,Paperless Billing,Monthly Charges,Churn Label,Churn Score,CLTV,G__Female,G__Male,IS__DSL,IS__Fiber optic,IS__No,CO__Month-to-month,CO__One year,CO__Two year,PM__Bank transfer (automatic),PM__Credit card (automatic),PM__Electronic check,PM__Mailed check,Coun__County_Interquantile,Coun__Outlier
0,3668-QPYBK,1,False,False,False,2,True,False,True,True,False,False,False,False,True,53.85,True,86,3239,False,True,True,False,False,True,False,False,False,False,False,True,False,True
1,3668-QPYBK,1,False,False,False,2,True,False,True,True,False,False,False,False,True,53.85,True,86,3239,False,True,True,False,False,True,False,False,False,False,False,True,False,True
2,3668-QPYBK,1,False,False,False,2,True,False,True,True,False,False,False,False,True,53.85,True,86,3239,False,True,True,False,False,True,False,False,False,False,False,True,False,True
3,9237-HQITU,1,False,False,True,2,True,False,False,False,False,False,False,False,True,70.70,True,67,2701,True,False,False,True,False,True,False,False,False,False,True,False,False,True
4,9237-HQITU,1,False,False,True,2,True,False,False,False,False,False,False,False,True,70.70,True,67,2701,True,False,False,True,False,True,False,False,False,False,True,False,False,True

In [19]:
# Code task 4# 
# Display the column of the DataFrame
df_churn_encoded.columns

Index(['CustomerID', 'Count', 'Senior Citizen', 'Partner', 'Dependents',
       'Tenure Months', 'Phone Service', 'Multiple Lines', 'Online Security',
       'Online Backup', 'Device Protection', 'Tech Support', 'Streaming TV',
       'Streaming Movies', 'Paperless Billing', 'Monthly Charges',
       'Churn Label', 'Churn Score', 'CLTV', 'G__Female', 'G__Male', 'IS__DSL',
       'IS__Fiber optic', 'IS__No', 'CO__Month-to-month', 'CO__One year',
       'CO__Two year', 'PM__Bank transfer (automatic)',
       'PM__Credit card (automatic)', 'PM__Electronic check',
       'PM__Mailed check', 'Coun__County_Interquantile', 'Coun__Outlier'],
      dtype='object')

In [20]:
# Code task 5#
# Convert the True and False of the categorical variables into numeric values
# Columns to convert to numeric
columns_to_numeric =['Senior Citizen', 'Partner', 'Dependents', 'Tenure Months',
       'Phone Service', 'Multiple Lines', 'Online Security', 'Online Backup',
       'Device Protection', 'Tech Support', 'Streaming TV', 'Streaming Movies',
       'Paperless Billing', 'Monthly Charges', 'Churn Label',
       'Churn Score', 'CLTV', 'G__Female', 'G__Male', 'IS__DSL',
       'IS__Fiber optic', 'IS__No', 'CO__Month-to-month', 'CO__One year',
       'CO__Two year', 'PM__Bank transfer (automatic)',
       'PM__Credit card (automatic)', 'PM__Electronic check',
       'PM__Mailed check', 'Coun__County_Interquantile', 'Coun__Outlier']

# Convert the colummns
df_churn_encoded[columns_to_numeric] = df_churn_encoded[columns_to_numeric].astype(int)

In [21]:

df_churn_encoded.head()

,CustomerID,Count,Senior Citizen,Partner,Dependents,Tenure Months,Phone Service,Multiple Lines,Online Security,Online Backup,Device Protection,Tech Support,Streaming TV,Streaming Movies,Paperless Billing,Monthly Charges,Churn Label,Churn Score,CLTV,G__Female,G__Male,IS__DSL,IS__Fiber optic,IS__No,CO__Month-to-month,CO__One year,CO__Two year,PM__Bank transfer (automatic),PM__Credit card (automatic),PM__Electronic check,PM__Mailed check,Coun__County_Interquantile,Coun__Outlier
0,3668-QPYBK,1,0,0,0,2,1,0,1,1,0,0,0,0,1,53,1,86,3239,0,1,1,0,0,1,0,0,0,0,0,1,0,1
1,3668-QPYBK,1,0,0,0,2,1,0,1,1,0,0,0,0,1,53,1,86,3239,0,1,1,0,0,1,0,0,0,0,0,1,0,1
2,3668-QPYBK,1,0,0,0,2,1,0,1,1,0,0,0,0,1,53,1,86,3239,0,1,1,0,0,1,0,0,0,0,0,1,0,1
3,9237-HQITU,1,0,0,1,2,1,0,0,0,0,0,0,0,1,70,1,67,2701,1,0,0,1,0,1,0,0,0,0,1,0,0,1
4,9237-HQITU,1,0,0,1,2,1,0,0,0,0,0,0,0,1,70,1,67,2701,1,0,0,1,0,1,0,0,0,0,1,0,0,1

## 4.6 Split de Data into Training and Test

In [22]:
# Code task 1#
# Remove the column 'CustomerID' which will not include in the model
churn_model = df_churn_encoded.drop(['CustomerID'], axis=1)

In [23]:
# Code task 2#
# Dependant variable or target: Churn Label
y = churn_model['Churn Label']

# Code task 3#
# Independant variables or features
X = churn_model.drop(['Churn Label'], axis=1)

# Code task 4#
# Split the data in train and test
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

## 4.7 Scale The Data

In [24]:
# Code task 1#
# Initialize the StandardScaler()
scaler = StandardScaler()

# Code task 2
# Fit and transform the training data
X_train_scaled = scaler.fit_transform(X_train)

# Code task 3
# Transform the testing data 
X_test_scaled = scaler.transform(X_test)

In [25]:
print("Scaled Training Features:\n", X_train_scaled) 
print("Scaled Testing Features:\n", X_test_scaled)

Scaled Training Features:
 [[ 0.         -0.43890072 -0.96772835 ...  1.84256777  1.71206424
  -1.71206424]
 [ 0.         -0.43890072  1.03334784 ...  1.84256777  1.71206424
  -1.71206424]
 [ 0.         -0.43890072  1.03334784 ... -0.54272088  1.71206424
  -1.71206424]
 ...
 [ 0.         -0.43890072  1.03334784 ...  1.84256777 -0.58409023
   0.58409023]
 [ 0.         -0.43890072 -0.96772835 ... -0.54272088 -0.58409023
   0.58409023]
 [ 0.          2.27841958  1.03334784 ... -0.54272088 -0.58409023
   0.58409023]]
Scaled Testing Features:
 [[ 0.         -0.43890072  1.03334784 ...  1.84256777 -0.58409023
   0.58409023]
 [ 0.          2.27841958  1.03334784 ... -0.54272088 -0.58409023
   0.58409023]
 [ 0.         -0.43890072  1.03334784 ... -0.54272088 -0.58409023
   0.58409023]
 ...
 [ 0.         -0.43890072  1.03334784 ... -0.54272088 -0.58409023
   0.58409023]
 [ 0.         -0.43890072  1.03334784 ... -0.54272088 -0.58409023
   0.58409023]
 [ 0.          2.27841958 -0.96772835 ... -0.54272088  1.71206424
  -1.71206424]]

## The data is ready for the next steps

In [26]:
churn_model.to_csv('df_churn_model', index=False)

###                                                                                                 End